@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

.App {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  margin-right: 4px;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover {
  border-radius: 15px;
  background: #DECDB4;
}

::-webkit-scrollbar-track {
  background: #000;
}


