.app-home-main {
    background-image: url(../../assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    align-items: flex-start;
    z-index: -1;
}

.app-home-gradient-container {
    background-image: linear-gradient(89.92deg, rgba(0, 0, 0, 0.58) 0.07%, rgba(0, 0, 0, 0.1) 99.92%);
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.app-home-main-container {
    position: absolute;
    top: 30%;
    z-index: 1;
}

.app-home-text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #DECDB4;
}

.app-home-text-container h1 {
    font-size: 64px;
    margin: -5px 95px;
    font-weight: 700;
}

.text-container-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 650px;
    margin-left: 95px;
    margin-top: 20px;
}

.text-container-description p {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-top: 15px;
}

.vertical-line {
    border-left: 4px solid #DECDB4;
    height: 56px;
    margin-right: 10px;
}