footer {
    height: 435px;
    background-image: url(../../assets/FooterBG.png);
    margin: 0;
}

footer p {
    color: #DECDB4;
    margin: 0;
}

.footer-logo-link {
    color: white;
    text-decoration: none;
    margin-left: -95px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
}

.footer-link h3 {
    font-weight: 700;
    color: #DECDB4;
}

.white-horizontal-line {
    width: 90%;
    height: 1px;
    background-color: #C0C0C0;
    margin: 0px 95px;
    margin-top: 50px;
}

.footer-copyright {
    font-weight: 400;
    font-size: 14px;
    margin-left: 95px;
    margin-top: 25px;
}