@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

.post-main-container {
    background-color: #08080D;
    color: #DECDB4;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-image {
    width: 90%;
    margin-top: 120px;
}

.post-header {
    width: 90%;
}

.post-title-input {
    font-size: 39px;
    color: #DECDB4;
    background-color: #08080D;
    border: 1px solid #fff;
    border-radius: 8px;
}

.post-date {
    margin: 0;
}
.post-header-info {
    margin: 0;
}

.post-text-body {
    width: 90%;
    text-align: justify;
    margin: 0;
}

.publish-button-container {
    width: 80px;
    padding-right: 85px;
    align-self: flex-end;
}

.publish-button {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #DECDB4;
    padding: 5px;
    font-family: 'Varela', sans-serif;
    font-weight: 600;
    color: white;
    border-radius: 8px;
    cursor: pointer; 
    margin-top: 20px;
}

.comment-title {
    font-family: 'Varela', sans-serif;
    font-size: 35px;
    margin: 0;
}

.big-ass-white-line {
    width: 100%;
    height: 1px;
    background-color: #D6D6D6;
}

.fb-comments {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f2f2f2;
}