@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

.post-main-container {
    background-color: #08080D;
    color: #DECDB4;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-main-container img {
    width: 90%;
    margin-top: 120px;
}

.post-header {
    width: 90%;
}

.post-date {
    margin: 0;
}
.post-header-info {
    margin: 0;
}

.post-text-body {
    width: 90%;
    text-align: justify;
    margin: 0;
}

.comment-title {
    font-family: 'Varela', sans-serif;
    font-size: 35px;
    margin: 0;
}

.big-ass-white-line {
    width: 100%;
    height: 1px;
    background-color: #D6D6D6;
}

.fb-comments {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f2f2f2;
}